body{
    background-color: rgb(6, 40, 3);
    display: inline-block;
}
/* Button.module.css */
.mybtn {
    border: 2px solid rgb(15, 72, 9);
    border-radius: 9px;
    background-color:rgb(41, 40, 40);
    color: #ffffff;
    box-shadow: 2px 2px 6px rgb(238, 247, 238);
    width: fit-content;
    cursor: pointer;
    font-size: 2.5em;
    margin-right: 100%;
}
.container{
    text-align: center;
}